        <!--region general -->
        <meta charset="UTF-8">
        <link rel="icon" href="img/puregeek_icon.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"/>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="keywords" content="tech support,computer repair,antivirus,software update,helpdesk">
        <meta name="description" content="Medford technical support, 20 years experience, computer repair, system design, Your Tech - Our Expertise">
        <!--endregion -->
        <!--region twitter -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="PureGeek : Your Tech - Our Expertise">
        <meta name="twitter:description" content="PureGeek has been providing expert tech support for over 20 years. We are here to help you with all your tech needs. We offer a wide range of services including computer repair, network setup, and more. We are dedicated to providing the best service possible to our customers. Contact us today to see how we can help you.">
        <meta name="twitter:site" content="https://puregeek.net">
        <meta name="twitter:creator" content="https://puregeek.net">
        <meta name="twitter:image:src" content="https://appcloud9.com/puregeek/img/puregeek_logo.png">
        <!--endregion -->
        <!--region og -->
        <meta property="og:title" content="PureGeek : Your Tech - Our Expertise">
        <meta property="og:description" content="PureGeek has been providing expert tech support for over 20 years. We are here to help you with all your tech needs. We offer a wide range of services including computer repair, network setup, and more. We are dedicated to providing the best service possible to our customers. Contact us today to see how we can help you.">
        <meta property="og:image" content="https://appcloud9.com/puregeek/img/puregeek_logo.png">
        <meta property="og:image:width" content="1413">
        <meta property="og:image:height" content="623">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://puregeek.net">
        <meta property="og:site_name" content="PureGeek : Your Tech - Our Expertise">
        <meta property="og:locale" content="en_us">
        <!--endregion -->
        <!--region app -->
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/puregeek.css">
        <script src="js/puregeek.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap" rel="stylesheet">
        <!--endregion -->
