        <!--region general -->
        <meta charset="UTF-8">
        <link rel="icon" href="img/puregeek_icon.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"/>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="keywords" content="IT services,help desk,AI training,puregeek">
        <!--endregion -->
        <!--region twitter -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="PureGeek : Your Tech - Our Expertise">
        <meta name="twitter:description" content="PureGeek has been providing expert IT tech support for over 20 years.">
        <meta name="twitter:site" content="https://www.puregeek.net">
        <meta name="twitter:creator" content="https://www.puregeek.net">
        <meta name="twitter:image:src" content="https://www.puregeek.net/img/puregeek_social.png">
        <!--endregion -->
        <!--region og -->
        <meta property="og:title" content="PureGeek : Your Tech - Our Expertise">
        <meta property="og:description" content="PureGeek has been providing expert IT tech support for over 20 years.">
        <meta property="og:image" content="https://www.puregeek.net/img/puregeek_social.png">
        <meta property="og:image:width" content="1150">
        <meta property="og:image:height" content="550">
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="PureGeek : Your Tech - Our Expertise">
        <meta property="og:locale" content="en_us">
        <!--endregion -->
        <!--region app -->
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/puregeek.css">
        <script src="js/puregeek.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap" rel="stylesheet">
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=AW-16613504681">
        </script>
        <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());
                gtag('config', 'AW-16613504681');
        </script>
        <!--endregion -->
