        <header class="header">
            <img onload="this.classList.add( 'loaded' );" src="img/puregeek_logo.svg" alt="PureGeek - Your Tech, Our Expertise">
            <p class="tagline">"Your Tech - Our Expertise"</p>
            <a href="tel:+15419515654">(541) 951-5654</a>
        </header>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
